/*-- scss:defaults --*/
$primary:       #2e3d3d;
$secondary:     #78888b;

/*-- scss:defaults --*/

// Base document colors
$body-bg: #fffefd;
$body-color: $primary;
$link-color: $secondary;

// Navigation element colors
$footer-bg: #fffefd;
$navbar-bg: $primary;
$sidebar-bg: $primary;

/*-- scss:rules --*/

.layout-example {
  background: $gray-700;
}
