/*-- LCBC colours --*/
$lcbc-blue-d: #00a0e3;
$lcbc-blue-l: #65bfdd;
$lcbc-green-d: #94c11e;
$lcbc-green-l: #c6d984;
$lcbc-grey-l: #b2b2b2;
$lcbc-grey-d: #666666;
$col-size: 20%;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400&display=swap');

/*-- scss:defaults --*/

$body-bg: #fff;
$body-color: darken($lcbc-grey-d, 25%);
$link-color: darken($lcbc-blue-d, 10%);
$link-color-hover: $lcbc-blue-d;
$font-family-sans-serif: 'Montserrat', sans-serif;
$presentation-font-size-root: 35px;



/*-- scss:rules --*/

.reveal .progress,
.reveal .menu {
  color: #65bfdd;
}

.reveal ul li::marker {
  color: $lcbc-green-d, 20%;
};

.reveal code {
  color: darken($lcbc-green-d, 20%);
};


.slide-background {
  background: 
    url(lcbc_logo_wide.png) no-repeat 92% 98% / 15%,
    linear-gradient(-45deg, lighten($lcbc-blue-l, 25%) $col-size, transparentize(#fff, 1) $col-size),
    linear-gradient(-135deg, lighten($lcbc-green-l, 25%) $col-size, transparentize(#fff, 1) $col-size),
};

.slide-background:first-child,
.slide-background .level1,
.reveal #end .slide  {
  background-image: none !important;
  background: 
    url(lcbc_logo_wide.png) no-repeat 25px 25px / 300px,
    linear-gradient(-45deg, lighten($lcbc-blue-l, 10%) $col-size, transparentize(#fff, 1) $col-size),
    linear-gradient(-135deg, lighten($lcbc-green-l, 10%) $col-size, transparentize(#fff, 1) $col-size) !important
};


